<div class="component-modal__container">
    <h3 class="component-modal__title"></h3>
    <div class="component-modal__close"></div>
    <div class="component-modal__body">
    </div>
    <div class="component-modal__footer">
    </div>
</div>
