<div>
    <label class="aside__label">Titre</label>
    <input id="component-modal-title" type="text" maxlength="50" />
</div>
<div>
    <label class="aside__label">Contenu</label>
    <div id="component-modal-content"></div>
</div>
<div>
    <label>Afficher un bouton de fermeture</label>
    <input type="checkbox" id="component-modal-show-close-button" checked>
</div>
<div>
    <fieldset>
        <legend>Pied de page</legend>
        <div>
            <label>Titre Bouton 1</label>
            <input id="button-title-1" type="text" maxlength="50" />
        </div>
    </fieldset>
</div>
<div>
    <fieldset>
        <legend>API</legend> <p>
            <label>Ouverture</label>
            <input id="button-open" type="text" maxlength="50" />
        </p>
        <p>
            <label>Fermeture</label>
            <input id="button-close" type="text" maxlength="50" />
        </p>
    </fieldset>
</div>
